#searchBtn {
	-fx-background-color:#a164de;
        -fx-background-radius: 30;
	-fx-border-radius:24px;
	-fx-border-width:1px;
        -fx-border-style: solid;
        -fx-border-color: #d9d9d9;
	-fx-display:inline-block;
	-fx-color:#ffffff;
	-fx-font-family:Verdana;
	-fx-font-size:19px;
	-fx-padding:12 28 12 28;
}
#searchBtn:hover {
	-fx-background-color:#a81ea8;
}
#searchBtn:active {
	-fx-position:relative;
	top:1px;
}

#titleLbl{
    -fx-alignment: center;
    -fx-font-family: fantasy;
    -fx-font-size: 24;
    -fx-font-style: oblique;
    -fx-font-weight: 100;
}

#categoryLbl{
    -fx-font-family: sans serif;
    -fx-font-size: 12;
    -fx-font-style: oblique;
}

#subcategoryLbl{
    -fx-font-family: sans serif;
    -fx-font-size: 12;
    -fx-font-style: oblique;
}